* {
    padding: 0;
    margin: 0;
}

body {
    height: 100lvh;
    width: 100lvw;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 2fr 16fr 1fr;
}

.header {
    background-color: #17d850;
    color: white;
    font-family: helvetica, arial, sans-serif;
    grid-row: 1 span 1;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 7vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav {
    background-color: #60f9ff;
    grid-row: 2 span 1;
    grid-column: 1 span 1;
}

.main {
    grid-row: 2 span 1;
    grid-column: 2 span 1;
}

.footer {
    background-color: #17d850;
    grid-row: 3 / -1;
    grid-column: 1 / -1;
}